<header class="header">
  <div class="centered">
    <a class="site-title" href="{{ site.baseurl }}/" class="logo-link">
      <img src="/images/profile-image.jpg" class="profile-image" />
      <h1>Dayton<span>Nolan</span></h1>
    </a>
    <p class="site-description">{{ site.description }}</p>
    <nav class="main-navigation">
      <li>
        <a class="page-link" href="/about/">
          <i class="fa fa-file-text-o"></i>
          About
        </a>
      </li>

      <li>
        <a href="https://github.com/daytonn">
          <i class="fa fa-github"></i>
          Code
        </a>
      </li>

      <li>
        <a class="page-link" href="/design.html">
          <i class="fa fa-photo"></i>
          Design
        </a>
      </li>

      <li>
        <a class="page-link" href="/music.html">
          <i class="fa fa-headphones"></i>
          Music
        </a>
      </li>

      <li>
        <a href="#contact">
          <i class="fa fa-envelope-o"></i>
          Contact
        </a>
      </li>
    </nav>
  </div>
</header>
