.gencon-list {
  @include fill-parent;

  .video {
    @include fill-parent;
  }

  iframe {
    width: 345px !important;
    height: 194px !important;
  }
}

@include media($medium-screen-up) {
  .gencon-list {
    iframe {
      width: 560px !important;
      width: 315px !important;
    }
  }
}
