.album-list {
  @include row;
  display: block;
}

@include media($medium-screen-up) {
  .music-page {
    .project {
      min-height: 560px;
      border-bottom: none;

      .photo {
        @include span-columns(3 of 6);
      }

      .description {
        @include span-columns(3 of 6);
        @include omega;
      }

      h4 {
        clear: left;
        margin: 0 0 $small-spacing 0;
        padding: $medium-spacing 0 $small-spacing 0;
        border-bottom: dashed 1px $brown;
      }

      .album-list {
        @include fill-parent;
        clear: both;
      }
    }
  }
}
