---
layout: post
title: My GenCon 2016 Short List
---

%dl.gencon-list
  %dt
    Artana Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1236", target: "_blank" } 1257
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/181401/chronicles-1-origins", target: "_blank" } Chronicles 1: Origins

  %dt
    Asmadi Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=998", target: "_blank" } 449
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=955", target: "_blank" } 549
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/202426/trade-empires", target: "_blank" } Trade Empires

      %li
        %a{ href: "https://boardgamegeek.com/boardgame/179275/one-deck-dungeon", target: "_blank" } One Deck Dungeon

  %dt
    Cryptozoic Entertainment - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1120", target: "_blank" } 501
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1329", target: "_blank" } 709
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/194231/poker-assault", target: "_blank" } Poker Assault

  %dt Czech Games Edition -  Booth ???
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/198773/codenames-pictures", target: "_blank" } Codename: Pictures

  %dt
    Formal Ferret Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1315", target: "_blank" } 3058
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/72321/networks", target: "_blank" } The Networks

      %li
        %a{ href: "https://boardgamegeek.com/boardgame/169215/peak-oil", target: "_blank" } Peak Oil

  %dt
    Grey Fox Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1253" } 2507
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/154173/7-ronin", target: "_blank" } 7 Ronin

      %li
        %a{ href: "https://boardgamegeek.com/boardgame/200924/order-gilded-compass", target: "_blank" } Order of the Gilded Compass

  %dt
    Osprey Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1215", target: "_blank" } 2663
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/193695/let-them-eat-cake", target: "_blank" } Let Them Eat Cake

  %dt
    Petersen Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=982" } 423
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/172599/theomachy-ancients", target: "_blank" } Theomachy: The Ancients

  %dt
    Rebel.pl (Asmodee) - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1157", target: "_blank" } 1619
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1156", target: "_blank" } 1629
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1159", target: "_blank" } 1719
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1160", target: "_blank" } 1819
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1296", target: "_blank" } 1829
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/194880/dream-home", target: "_blank" } Dream Home

  %dt
    Red Raven Games -  Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1272" } 2657
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/185589/islebound", target: "_blank" } Islebound

  %dt
    Renegade Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1271", target: "_blank" } 2304
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/198525/lotus", target: "_blank" } Lotus

  %dt
    Rock Manor Games (Indie Game Alliance) - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1256", target: "_blank" } 2563
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/181393/brass-empire", target: "_blank" } Brass Empire

  %dt
    Space Cowboys (Asmodee) - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1157", target: "_blank" } 1619
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1156", target: "_blank" } 1629
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1159", target: "_blank" } 1719
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1160", target: "_blank" } 1819
    \/
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1296", target: "_blank" } 1829
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/176083/hit-z-road", target: "_blank" } Hit Z Road

  %dt
    Stronghold Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1123", target: "_blank" } 2323
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/167791/terraforming-mars", target: "_blank" } Terraforming Mars

  %dt
    Tasty Minstrel Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1026", target: "_blank" } 259
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/182351/thiefs-market", target: "_blank" } Thief's Market

  %dt
    Van Ryder Games - Booth
    %a{ href: "http://www.gencon.com/exhibit_hall_map?booth=1389", target: "_blank" } 2904
  %dd
    %ul
      %li
        %a{ href: "https://boardgamegeek.com/boardgame/153991/salvation-road", target: "_blank" } Salvation Road
