#contact-me {
  @include outer-container;
  padding: $large-spacing $medium-spacing $medium-spacing $medium-spacing;

  .close-modal {
    display: none;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &.modal {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $cream;
    box-shadow: $default-shadow;

    .close-modal {
      position: absolute;
      padding: 0;
      margin: 0;
      font-size: 48px;
      top: $gutter / 2;
      right: $gutter / 2;
      background: transparent;
      color: $med-gray;
      display: block;
    }
  }

  @include media($large-screen-up) {
    .close-modal {
      font-size: 32px !important;
    }
  }
}
