@mixin active-page {
  background: transparent;

  &:after {
    @include triangle(20px, $cream, up);
    content: "";
    position: absolute;
    left: center;
    margin-left: -10px;
    bottom: 0;
  }

  a {
    color: $orange;
  }
}

%active-tab {
  background: $orange;

  a {
    color: $cream;
  }
}

.main-navigation {
  @include row;
  @include clearfix;
  clear: both;
  border-top: solid 2px $cream;
  border-bottom: solid 2px $orange;
  background: {
    color: $cream;
  }

  li {
    position: relative;
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;

    &:last-child {
      @include omega;
    }

    a {
      @include fill-parent;
      display: inline-block;
      padding: $small-spacing 0;
      font-size: 14px;
      color: $brown;
    }

    i {
      font-size: $base-font-size * 2;
      display: block;
      padding-bottom: 6px;
    }
  }

  @include media($large-screen-up) {
    @include span-columns(8);
    @include omega;
    margin-bottom: 0;
    background: transparent;
    border: none;
    font-family: $bebas-neue;

    .fa {
      display: none;
    }

    li {
      position: relative;

      &.active {
        @include active-page;
      }

      a {
        @include fill-parent;
        color: $white;
        display: block;
        font-size: 23px;
        height: $header-height;
        line-height: $header-height;
        padding-top: 5px;
        padding: 5px 0 0 0;
        vertical-align: middle;

        &:hover,
        &.active {
          color: $orange;
        }
      }
    }

    .about-page & {
      .about-link {
        @include active-page;
      }
    }

    .code-page & {
      .code-link {
        @include active-page;
      }
    }

    .design-page & {
      .design-link {
        @include active-page;
      }
    }

    .music-page & {
      .music-link {
        @include active-page;
      }
    }
  }
}

@include media($large-screen-up) {
  .main-navigation {
    @include span-columns(6);
    clear: none;
  }
}
