<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <section class="content">
        {{ content }}
      </section>
    </main>
    <div id="contact-me">
      <button class="close-modal">
        <i class="fa fa-times-circle-o"></i>
      </button>
      <div class="contact-form">
        <h2>Contact Me</h2>
        <form action"#contact">
          <div class="form-field">
            <label>Email</label>
            <input type="email" name="email" />
          </div>
          <div class="form-field">
            <label>Message</label>
            <textarea name="message"></textarea>
          </div>
          <div class="form-actions">
            <button>Send</button>
          </div>
        </form>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
