$navy: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #ff8a00;
$brown: #413b34;
$red: #FF4136;
$maroon: #85144b;
$fuchsia: #F012BE;
$purple: #B10DC9;
$black: #282828;
$gray: #74726a;
$light-gray: #a09f9c;
$ghost-gray: #dddcd7;
$med-gray: #74726a;
$cream: #f3f1e6;
$silver: #DDDDDD;
$white: #FFFFFF;
