html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: {
    color: #f8f8f1;
    image: image-url("layout/bg.jpg")
  }
}

.hidden {
  opacity: 0;
}

.centered {
  @include outer-container;
}

.site-content {
  @include outer-container;
  display: block;
  padding: $medium-spacing;
  clear: both;
}
