$bebas-neue: BebasNeue, sans-serif;
$nevis: Nevis, sans-serif;
$droid-serif: DroidSerif, serif;
$droid-serif-bold: DroidSerifBold, serif;
$droid-serif-bold-italic: DroidSerifBoldItalic, serif;
$droid-serif-italic: DroidSerifItalic, serif;

// Layout
$header-height: 100px;
$footer-height: 50px;
// Typography
$base-font-family: $helvetica;
$heading-font-family: $bebas-neue;
$base-text-shadow: 1px 1px 0px rgba(0, 0, 0, .25);
$default-shadow: 0 0 6px 3px rgba(0, 0, 0, .25);
// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: calc($base-spacing / 2);
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;

// Font Colors
$base-font-color: #686666;
$action-color: $orange;

// Border
$base-border-color: $ghost-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Spacing
$large-spacing: 30px;
$medium-spacing: calc($large-spacing / 2);
$small-spacing: calc($medium-spacing / 2);

$default-dashed-line: dashed 1px $brown;
